div#map{
 height:100vh;  
 background-color:grey; 
}
#map-container{
position:relative;

}
#search-container{
position:absolute;
z-index:314159;
top:10px;
left:45px;
padding: 15px;
background-color: rgba(243, 237, 240, 0.8);
}